<% cache product do %>
  <div class="col-sm-2 col-md-4">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <h1><%= product.name %></h1>
    <p><%= product.description %></p>
    <p><%= product.size %></p>
    <p>$ <%= product.price %></p><br>
    <td><%= link_to 'Show', product %></td>
    <td>
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(product) %>
      <% end %>
    </td>
    <td>
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </div><!-- /col -->
<% end %>
