<div data-product-id="<%= @product.id %>"><br>

  <div class="col-sm-2 col-md-4">
    <%= image_tag @product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url" %><br>
    <%= link_to 'Back to Products', products_path %>
  </div>

  <div class="col-sm-4 col-md-8">

    <h3>
      <%= @product.name %>
    </h3>

    <h5>
      <%= @product.description %>
    </h5>

    <h5>
      <%= @product.size %>
    </h5>

    <h4>
      $ <%= @product.price %>
    </h4>

    <p>
      <strong>Views:</strong>
      <%= @product.views %>
    </p>

    <strong>Average Rating:
      <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
    </strong><br><br>

    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %><br><br>

    <!-- <p>Highest Rating:
      <<%= @product.highest_rating_comment&.rating %><br><br>
    </p>

    <p>Lowest Rating:
      <%= @product.lowest_rating_comment&.rating %><br><br>
    </p> -->

    <%= render 'new_comment' %><br><br>

    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

    <%= link_to 'Back to Products', products_path %>

    <h1> Reviews </h1>

    <%= render 'comments' %><br>

    <%= link_to 'Back', products_path %>

  </div>

</div>
